<div class="nav_left ${leftActive}">
    <a href="/Home/Index"><img src="~/image/Mainpage_img.png"></a>
    <div class="non_new">
        <h4 class="p">Sen</h4>
        <li>
            <a class="home big_nav" style="background-color: rgba(63, 112, 63, 0.685);" href="/Home/Index">
                <div class="icon">
                    <ion-icon name="home"></ion-icon>
                </div>
                <p>Trang chủ</p>
            </a>
        </li>
        <li>
            <a class="aboutme big_nav" href="#">
                <div class="icon">
                    <ion-icon name="help-circle-outline"></ion-icon>
                </div>
                <p>About me</p>
            </a>
        </li>
        <li>
            <a class="donate big_nav" href="#">
                <div class="icon">
                    <ion-icon name="gift"></ion-icon>
                </div>
                <p>Donate</p>
            </a>
        </li>
    </div>
    <div class="new">
        <h4 class="p">Wibu</h4>
        <li>
            <a class="bookmarks big_nav">
                <div class="icon">
                    <ion-icon name="bookmarks"></ion-icon>
                </div>
                <p>Thư viện</p>
            </a>
        </li>
        <ul class="bookmarks_nav nav">
            <li>
                <a class="eroge subnav" href="erogame.html">
                    <div class="icon">
                        <ion-icon name="logo-game-controller-b"></ion-icon>
                    </div>
                    <p>Ero Games</p>
                </a>
            </li>
            <li>
                <a class="manga subnav" href="/Books/Books">
                    <div class="icon">
                        <ion-icon name="book"></ion-icon>
                    </div>
                    <p>Truyện tranh</p>
                </a>
            </li>
            <li>
                <a class="lightnovel subnav" href="lightnovel.html">
                    <div class="icon">
                        <ion-icon name="paper"></ion-icon>
                    </div>
                    <p>Tiểu thuyết</p>
                </a>
            </li>
            <li>
                <a class="anime subnav" href="#">
                    <div class="icon">
                        <ion-icon name="film"></ion-icon>
                    </div>
                    <p>Phim</p>
                </a>
            </li>
        </ul>
        <li>
            <a class="folder big_nav">
                <div class="icon">
                    <ion-icon name="folder-open"></ion-icon>
                </div>
                <p>Tài liệu</p>
            </a>
        </li>
        <ul class="folder_nav nav">
            <li>
                <a class="models subnav" href="#">
                    <div class="icon">
                        <ion-icon name="body"></ion-icon>
                    </div>
                    <p>Models</p>
                </a>
            </li>
            <li>
                <a class="codes subnav" href="#">
                    <div class="icon">
                        <ion-icon name="logo-nodejs"></ion-icon>
                    </div>
                    <p>Codes</p>
                </a>
            </li>
            <li>
                <a class="textures subnav" href="#">
                    <div class="icon">
                        <ion-icon name="photos"></ion-icon>
                    </div>
                    <p>Textures</p>
                </a>
            </li>
            <li>
                <a class="apps subnav" href="#">
                    <div class="icon">
                        <ion-icon name="appstore"></ion-icon>
                    </div>
                    <p>Apps</p>
                </a>
            </li>
        </ul>
        <li>
            <a class="contact big_nav">
                <div class="icon">
                    <ion-icon name="hand"></ion-icon>
                </div>
                <p>Contact</p>
            </a>
        </li>
        <ul class="contact_nav nav">
            <li>
                <a class="facebook subnav" href="https://www.facebook.com/profile.php?id=100021704660330">
                    <div class="icon">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </div>
                    <p>Facebook</p>
                </a>
            </li>
            <li>
                <a class="youtube subnav" href="https://www.youtube.com/channel/UC_eaNVUWzNLf3YGWBVI7Tfg">
                    <div class="icon">
                        <ion-icon name="logo-youtube"></ion-icon>
                    </div>
                    <p>Youtube</p>
                </a>
            </li>
            <li>
                <a class="instagram subnav" href="#">
                    <div class="icon">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </div>
                    <p>Instagram</p>
                </a>
            </li>
            <li>
                <a class="instagram subnav" href="#">
                    <div class="icon">
                        <ion-icon name="paw"></ion-icon>
                    </div>
                    <p>Discord</p>
                </a>
            </li>
        </ul>
    </div>
</div>